@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: scroll;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;

}

/* -----Section 1 -----*/

.title h1 {
    padding: 0;
    margin: 0;
    margin-bottom: 8px;
    font-size: 48px;
    font-weight: 900;
    
}

.hero {
    display: flex;
    background-color: #1F2937;
    color: white;
    flex-direction: column;
}

.hero-container {
    display: flex;
    margin: 75px 100px;
    justify-content: center;
    /* flex: 1; */
    
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 0 100px;
    padding-top: 12px;
    align-items: center;
}

.header img {
    font-size: 24px;
    font-weight: 600;
    color: #F9FAF8;
}

.header ul {
    gap: 12px;
}



.title {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    padding-right: 25px;
    color: #F9FAF8;
}


.title button {
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    padding: 4px 32px;
    text-align: center;
    font-size: 18px;
    border-radius: 6px;
}

.title p {
    font-size: 18px;
    margin-bottom: 8px;
    color: #E5E7EB;
}

p {
    padding: 0;
    margin: 0;
}

.hero-container img {
    background-color: grey;
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.header a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

/* -----Section 2 -----*/

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.information h2 {
    display: flex;
    margin: 30px;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}
.sets {
    display: flex;
    gap: 70px;
    margin-bottom: 70px;
}
.set {
    display: flex;
    width: 100px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.information img {
    border-radius: 8px;
    border: 2px solid #3882F6;
    margin-bottom: 8px;
}

/* -----Section 3 -----*/

.quote {
    display: flex;
    background-color: #E5E7EB;
    flex-direction: column;
    padding: 100px 180px; 
}

.q-text  {
    color: #1F2937;
    font-style: italic;
    font-size: 36px;
    font-weight: 200;
}

.q-author  {
    font-size: 24px;
    display: flex;
    justify-content: flex-end;
    font-weight: 700;
}

/* -----Section 4 -----*/
.action {
    display: flex;
    padding: 90px 120px;
}

.banner {
    display: flex;
    background-color: #3882F6;
    /* margin: 90px 120px; */
    padding: 35px 70px;
    width: 75vw;
    justify-content: space-between;
    border-radius: 6px;
    color: #F9FAF8;
}

.banner button {
    color: #F9FAF8;
    background-color: #3882F6;
    padding: 4px 32px;
    text-align: center;
    font-size: 18px;
    border: 2px solid #F9FAF8;
    border-radius: 6px;

}

.banner h3 {
    margin: 0 0 2px 0;
    padding: 0;
}

.banner p {
    color: #E5E7EB;
}

/* -----Footer -----*/
